<div class="card-container" #card>
  <ul class="d-flex flex-column justify-content-around align-items-start position-relative" style="list-style: none;">
    <li style="position: absolute; top: 29px;"><p style="font-size: 40px; font: normal normal normal 40px/53px Roboto;">{{Numberr}} <span style="text-align: left;font: normal normal normal 22px/29px Roboto;letter-spacing: 0px;color: #3D5161;">{{measure}}</span></p></li>
    <li style="position: absolute; top: 80px;"><p style="font: normal normal bold 17px/20px Montserrat;letter-spacing: 0px;color: #3D5161;">{{desc}} </p></li>
    <li style="position: absolute; top: 109px;" class="d-flex align-items-center gap-2"><div  class="" #arrow> </div><span class="up_color" #up_down_color>{{unit_num}}</span></li>
  </ul>

</div>
