<div class="menu-style d-flex flex-column align-items-center justify-content-around">
 <div><img src="../../assets/water.svg" alt=""></div>
    <ul class="list d-flex flex-column justify-content-center align-items-center gap-5">
      <li><img src="../../assets/control-room-second.svg" alt=""></li>
      <li><img src="../../assets/dashboard-third.svg" alt=""></li>
      <li><img src="../../assets/elements-forth.svg" alt=""></li>
      <li><img src="../../assets/settings-fifth.svg" alt=""></li>
      <li><img src="../../assets/notifications-sixth.svg" alt=""></li>
    </ul>
 <div class="logout">
  <img src="../../assets/logout-sivinth.svg" alt="">
 </div>
</div>
