
  <div class="  upper-panner d-flex justify-content-around align-items-center position-absolute top-0 w-100">
  <!-- <div class="container container-fluid d-flex justify-content-around"> -->
    <div class="gap d-flex justify-content-between align-items-center">
      <div class="Left-content d-flex justify-content-between align-items-center gap-3">
        <div class="upper-panner-img"> <img src="../../assets/gas-station-svgrepo-upper-panner-first.svg"  alt=""></div>
        <div class="d-flex ">
          <p class="roboto-font">2/3</p>
          <div class=" h-100 w-100 ">
            <ul class="afterText" style="list-style: none;">
              <li>Monitored </li>
              <li>Stations</li>
            </ul>
          </div>
       </div>
     </div>
      <div class="right-content d-flex justify-content-between align-items-center gap-3">
        <div class="upper-panner-img"> <img src="../../assets/reload_icon.png"  alt=""></div>
        <div class="d-flex ">
          <p class="roboto-font">20s</p>
          <div class=" h-100 w-100 ">
            <ul class="afterText" style="list-style: none;">
              <li>Last </li>
              <li>Update</li>
            </ul>
          </div>
       </div>
     </div>
  </div>
  <div class=" position-relative  center-content d-flex justify-content-around align-items-end flex-shrink-0">
    <p style="cursor: pointer; color: white;" #Today (click)="selected_day('today')" class="z-1 flex-shrink-0">TODAY</p>
    <p style="cursor: pointer;" class="z-1 flex-shrink-0" >YESTERDAY</p>
    <p style="cursor: pointer;" class="z-1 flex-shrink-0">LAST WEEK</p>
  </div>
  <div class="gap2 d-flex justify-content-between">
  <div class="d-flex flex-column justify-content-between">
     <div class="date-field_continer d-flex justify-content-between align-items-center">
      <p style="position :relative; top :5px"><span style="font-weight: bold; font-family: Roboto;">Start</span> date - time</p>
      <img class="date_icon" src="../../assets/Date_icon.png" alt="">
     </div>
     <div class="line"></div>
  </div>
  <div class="d-flex flex-column justify-content-between">
     <div class="date-field_continer2 d-flex justify-content-between align-items-center">
      <p style="position :relative; top :5px"><span style="font-weight: bold; font-family: Roboto;">End</span> date - time</p>
      <img class="date_icon" src="../../assets/Date_icon.png" alt="">
     </div>
     <div class="line"></div>
  </div>
</div>
<!-- </div> -->


</div>
