<div class="list_card d-flex flex-column ">
  <div class="d-flex justify-content-between align-items-center w-100 ps-5 pe-5 pt-3">
    <div class="Left-content d-flex justify-content-between align-items-center gap-3">
      <div class="upper-panner-img"> <img src="../../assets/gas-station-colored.svg"  alt=""></div>
      <div class="">
          <p style="position: absolute;" class="roboto-font">STATION NAME </p>
          <span style="position: relative; top: 20px;" class="roboto-font">DUMMY </span>

     </div>
  </div>
    <div style="cursor: pointer;" class="sub_menu d-flex gap-1">
      <div style="width:4px; height:4px;border-radius: 15px; background: black; opacity: 1;"></div>
      <div style="width:4px; height:4px;border-radius: 15px; background: black; opacity: 1;"></div>
      <div style="width:4px; height:4px;border-radius: 15px; background: black; opacity: 1;"></div>

    </div>

  </div>
  <div style="width: 1153px;height: 0px;border: 1px solid #E0E7F1;  opacity: 1; margin-left: auto; margin-right: auto;"></div>
   <table>
      <tbody>
         <tr *ngFor="let i of [1,2]">
           <td>{{total_sales}}</td>
           <td>{{volume}}</td>
           <td>{{compression_state}}</td>
           <td>{{valueOfcompression}}</td>
           <td>{{maxTransactionPerhour}}</td>
           <td style="text-align: left;">{{valueOftransaction}}</td>
         </tr>

      </tbody>
   </table>
</div>
